<div class="theme-container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">JOB NO</th>
        <th scope="col">JOB NAME</th>
        <th scope="col">JOB TYPE</th>
        <th scope="col">ADMINISTRATOR</th>
        <th scope="col">SCOPES</th>
      </tr>
    </thead>
    <tbody>
  		<% @jobs.each do |job| %>
  	    <tr>
  	      <td><%= job.job_no %></td>
  	      <td><%= link_to "#{job.name}", job_path(job) %></td>
  	      <td><%= job.job_type %></td>
  	      <td><%= job.administrator %></td>
  	      <td><%= job.scopes.count %></td>
  	    </tr>
  		<% end %>
    </tbody>
  </table>
</div>